* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: #EDEADE;
    font-family: sans-serif;
}

.score-board {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.score-board h2 {
    font-size: 30px;
}
.score-board p {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.intro {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}
.intro h1 {
    font-size: 60px;
    padding-top: 20px;
}
.intro button, 
.btns button {
    width: 150px;
    height: 70px;
    background: none;
    border-color: black;
    font-size: 30px;
    background-color: #FAF9F6;
    border-radius: 5px;
    cursor: pointer;
}
.computer-btns button {
    cursor: default;
    pointer-events: none;
}

.match {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 1;  
    transition: opacity 0.5s ease;

}
.winner {
    text-align: center;
    font-size: 80px;
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-top: 50px;
    width: 100vw;
    height: 200px;
}

.hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px);
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px);
    }
    50%{
        transform: rotateY(180deg) translateY(0px);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px);
    }
    75%{
        transform: rotateY(180deg) translateY(0px);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0%{
        transform: translateY(0px);
    }
    15%{
        transform: translateY(-50px);
    }
    25%{
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    65%{
        transform: translateY(-50px);
    }
    75%{
        transform: translateY(0px);
    }
    85%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }

}